/*

EASYDESK ICONS CSS / BY RAFAEL MARDOJAI C.M.

*/

/*//////////////////////////////
/////// TABS ICONS
//////////////////////////////*/

/* Tabs */
#tabs .google {background: url(images/icons/tabs/normal/google.png) no-repeat center center;}
#tabs .wikipedia {background: url(images/icons/tabs/normal/wikipedia.png) no-repeat center center;}
#tabs .duck {background: url(images/icons/tabs/normal/duck.png) no-repeat center center;}
#tabs .youtube {background: url(images/icons/tabs/normal/youtube.png) no-repeat center center;}
#tabs .map {background: url(images/icons/tabs/normal/map.png) no-repeat center center;}
#tabs .weather {background: url(images/icons/tabs/normal/weather.png) no-repeat center center;}
#tabs .rae {background: url(images/icons/tabs/normal/rae.png) no-repeat center center;}
#tabs .tab {
    border-bottom: 2px solid transparent;
}

/* Hover */
#tabs .tab:hover {
    border-bottom: 2px solid #FFF;
}

/* Active */

#tabs #current .tab {
    background-color: rgba(0, 0, 0, 0.4);
}


/*//////////////////////////////
/////// LINKS ICONS
//////////////////////////////*/

.link-icon {
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    float: left;
    height: 60px;
    margin: 10px;
    transition: all 0.5s ease;
    width: 60px;    
}

/* SOCIAL */

/* -Facebook- */
.facebook {background: url(images/icons/links/facebook.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.facebook:hover {/*Hover:*/ background-color: #3A5795/*Color*/;}

/* -Twitter- */
.twitter {background: url(images/icons/links/twitter.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.twitter:hover {/*Hover:*/ background-color: #55ACEE/*Color*/;}

/* -Google plus- */
.googleplus {background: url(images/icons/links/googleplus.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.googleplus:hover {/*Hover:*/ background-color: #D73D32/*Color*/;}

/* -Pinterest- */
.pinterest {background: url(images/icons/links/pinterest.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.pinterest:hover {/*Hover:*/ background-color: #DD242C/*Color*/;}

/* -Diaspora- */
.diaspora {background: url(images/icons/links/diaspora.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.diaspora:hover {/*Hover:*/ background-color: #000000/*Color*/;}

/* -Behance- */
.behance {background: url(images/icons/links/behance.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.behance:hover {/*Hover:*/ background-color: #000000/*Color*/;}

/* -Instagram- */
.instagram {background: url(images/icons/links/instagram.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.instagram:hover {/*Hover:*/ background-color: #49779C/*Color*/;}

/* -Vk- */
.vk {background: url(images/icons/links/vk.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.vk:hover {/*Hover:*/ background-color: #517296/*Color*/;}

/* -LinkedIn- */
.linkedin {background: url(images/icons/links/linkedin.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.linkedin:hover {/*Hover:*/ background-color: #0073B2/*Color*/;}

/* -Youtube- */
.youtube {background: url(images/icons/links/youtube.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.youtube:hover {/*Hover:*/ background-color: #CC181E/*Color*/;}

/* MAIL */

/* -Gmail- */
.gmail {background: url(images/icons/links/gmail.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.gmail:hover {/*Hover:*/ background-color: #D73D32/*Color*/;}

/* -Outlook- */
.outlook {background: url(images/icons/links/outlook.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.outlook:hover {/*Hover:*/ background-color: #0072C6/*Color*/;}

/* -OpenMailBox- */
.openmailbox {background: url(images/icons/links/openmailbox.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.openmailbox:hover {/*Hover:*/ background-color: #3283C4/*Color*/;}

/* -Gmx- */
.gmx {background: url(images/icons/links/gmx.png) no-repeat center center rgba(0,0,0,.2);background-size:45px;}
.gmx:hover {/*Hover:*/ background-color: #004F9E/*Color*/;}

/* -Yandex Mail- */
.yandexmail {background: url(images/icons/links/yandexmail.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.yandexmail:hover {/*Hover:*/ background-color: #000000/*Color*/;}

/* PORTALS */

/* -Google- */
.google {background: url(images/icons/links/google.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.google:hover {/*Hover:*/ background-color: #196EEE/*Color*/;}

/* -Yahoo- */
.yahoo {background: url(images/icons/links/yahoo.svg) no-repeat center center rgba(0,0,0,.2);background-size:35px;}
.yahoo:hover {/*Hover:*/ background-color: #500095/*Color*/;}

/* -Yandex- */
.yandex {background: url(images/icons/links/yandex.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.yandex:hover {/*Hover:*/ background-color: #FF0000/*Color*/;}

/* -MSN- */
.msn {background: url(images/icons/links/msn.svg) no-repeat center center rgba(0,0,0,.2);background-size:35px;}
.msn:hover {/*Hover:*/ background-color: #333333/*Color*/;}

/* -Yandex Mail- */
.yandexmail {background: url(images/icons/links/yandexmail.svg) no-repeat center center rgba(0,0,0,.2);background-size:30px;}
.yandexmail:hover {/*Hover:*/ background-color: #000000/*Color*/;}

